---
import Icon from "astro-icon";
import RowEntry from "../components/RowEntry.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SocialIcon from "../components/SocialIcon.astro";

import { SITE_TITLE } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
  </head>
  <body class="dark:bg-black">
    <button id="dark-mode-toggle" class="mb-2 mt-2">
      <Icon name="tabler:sun" class="w-6 h-6 dark:text-white" />
    </button>

    <div class="text-center mb-3">
      <h1 class="text-2xl font-bold mb-1 dark:text-white">Angelo Pirola</h1>
      <h3 class="text-base dark:text-white">
        <a href="mailto:angelo9871@gmail.com" class="hover:text-red-500 dark:text-white dark:hover:text-red-500">angelo9871@gmail.com</a>
      </h3>
    </div>

    <div id="work" class="mb-6">
      <SectionTitle title="Working experience" />

      <RowEntry description="" name="04/24 – Currently" title=".NET Developer (Freelance)" subTitle="Remote working" />
      <RowEntry description="" name="01/22 – 01/24" title=".NET Developer" subTitle="Milan" />
      <!-- <RowEntry description="" name="04/22 – 01/24" title=".NET Developer" subTitle="Milan" />
      <RowEntry description="" name="12/22 – 05/23" title="Technical Trainer" subTitle="Milan" />
      <RowEntry description="" name="12/21 – 04/22" title="IT Specialist" subTitle="Milan" /> -->
      <RowEntry description="" name="02/21 – 12/21" title="DevOps Specialist" subTitle="Milan" />
      <!-- <RowEntry description="" name="08/20 – 01/21" title="IT Specialist and .NET Developer" subTitle="Various locations" /> -->
      <RowEntry description="" name="08/20 – 10/20" title=".NET Developer" subTitle="Milan" />
      <!-- <RowEntry description="" name="09/18 – 08/20" title="Project manager and .NET Developer" subTitle="Rho" /> -->
      <RowEntry description="" name="09/18 – 08/20" title=".NET Developer" subTitle="Rho" />
      <RowEntry description="" name="11/07 – 08/18" title="IT Professional Development" subTitle="Various locations" />
      <!-- <RowEntry description="" name="11/07 – 09/18" title="IT Specialist and .NET Developer" subTitle="Various locations" />
      <RowEntry description="" name="11/06 – 10/07" title="Pastry Chef Apprentice" subTitle="Garbagnate Milanese" /> -->
    </div>

    <div id="education" class="mb-6">
      <SectionTitle title="Education" />

      <RowEntry title="Post qualification pizzeria specialization" subTitle="" description="" name="2005" />
      <RowEntry title="Professional qualification in bakery and pastry making" subTitle="" description="" name="2003 - 2004" />
    </div>

    <div id="skills" class="mb-6">
      <SectionTitle title="Skills and interests" />

      <RowEntry description="Italian, English, French" name="Languages" />
      <!-- <RowEntry description=".NET 6+, ASP.NET Core, Blazor, Astro, Microsoft Azure, Amazon AWS, Google Cloud" name="Technologies" /> -->
      <RowEntry description=".NET 8+, ASP.NET Core, Blazor, Microsoft Azure" name="Technologies" />
      <RowEntry description="Technology, Travel, Photography" name="Interests" />
    </div>

    <div id="social" class="justify-center flex flex-row mb-2">
      <!-- <div class="mr-4">
        <SocialIcon icon="fa-brands:chrome" label="chrome" url="https://avacard.app/apirola" />
      </div> -->
      <!-- <div class="mr-4">
        <SocialIcon icon="fa-brands:google" label="google" url="https://developers.google.com/profile/u/angeloit87" />
      </div> -->
      <div class="mr-4">
        <SocialIcon icon="fa-brands:github" label="github" url="https://github.com/AngeloDotNet" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:linkedin" label="linkedin" url="https://www.linkedin.com/in/pirolaangelo/" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:instagram" label="instagram" url="https://www.instagram.com/angeloit87/" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:twitter" label="twitter" url="https://twitter.com/angeloIT87" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:youtube" label="youtube" url="https://www.youtube.com/@angeloit87" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:twitch" label="twitch" url="https://www.twitch.tv/angeloit87" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:spotify" label="spotify" url="https://open.spotify.com/user/31qiovxsu5zlmmjyosstxnpdupjy" />
      </div>
    </div>

    <script is:inline>
      if (localStorage.theme === "dark" || (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) 
      {
        document.documentElement.classList.add("dark");
      } 
      else 
      {
        document.documentElement.classList.remove("dark");
      }

      window.onload = function () 
      {
        const element = document.getElementById("dark-mode-toggle");

        if (element) {
          element.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark");
            localStorage.theme = document.documentElement.classList.contains("dark") ? "dark" : "light";
          });
        }
      };
    </script>
  </body>
</html>