---
import Icon from "astro-icon";
import RowEntry from "../components/RowEntry.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SocialIcon from "../components/SocialIcon.astro";

import { SITE_TITLE } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
  </head>
  <body class="dark:bg-black">
    <button id="dark-mode-toggle" class="mb-2 mt-2">
      <Icon name="tabler:sun" class="w-6 h-6 dark:text-white" />
    </button>

    <div class="text-center mb-3">
      <h1 class="text-2xl font-bold mb-1 dark:text-white">Angelo Pirola</h1>
      <!--<h2 class="text-base dark:text-white">
        Musterstrasse 1, 12345 Musterstadt
      </h2>-->
      <h3 class="text-base dark:text-white">
        <a
          href="tel:+39 334 816 8144"
          class="hover:text-red-500 dark:text-white dark:hover:text-red-500"
          >+39 334 816 8144
        </a>
        |
        <a
          href="mailto:angelo9871@gmail.com"
          class="hover:text-red-500 dark:text-white dark:hover:text-red-500"
          >angelo9871@gmail.com</a>
      </h3>
    </div>

    <div id="education" class="mb-6">
      <SectionTitle title="Education" />

      <RowEntry title="Post qualification pizzeria specialization" subTitle="" description="" name="2005" />
      <RowEntry title="Professional qualification in bakery and pastry making" subTitle="" description="" name="2003 - 2004" />
    </div>

    <div id="work" class="mb-6">
      <SectionTitle title="Working experience" />

      <RowEntry description="Requirements analysis, evaluation of methodologies and architectures, full stack back-end (REST-type API) and front-end (Blazor web assembly) application development, Microsoft Azure Insight, IoTHub, Blob storage and SQL Database, Microsoft Azure DevOps for agile development management." 
      name="09/22 – 01/24" title=".NET Senior Developer" subTitle="Milan" />

      <RowEntry description="On-the-job training of a junior resource on .NET 6, Entity Framework Core 6 technologies. Speaker at the 3-day tech day event (internal company) on the topic of GIT FLOW." 
      name="12/22 – 05/23" title="Technical Trainer" subTitle="Milan" />

      <RowEntry description="Experiences completed during the trial period" name="07/22 – 08/22" title=".NET Developer" subTitle="Milan" />

      <RowEntry description="Full stack back-end (REST-type API) and front-end (Blazor web assembly) application development" 
      name="04/22 – 07/22" title=".NET Developer" subTitle="Milan" />

      <RowEntry description="Microsoft Consulting (Installation, ATM / CSA test environment configuration) at Intesa Sanpaolo" 
      name="12/21 – 04/22" title="IT Specialist" subTitle="Milan" />

      <RowEntry description="DevOps activities (Installation, configuration and troubleshooting on Linux and Windows), VPS implementation and management (Contabo, Hetzner, AWS), Docker, Balancers, Firewall, GitLab, Google Workspace, AWS (VPS, IAM, S3, Route53), Voip 3CX, Zabbix and CheckMK. Microsoft Consulting (Installation, ATM / CSA test environment configuration) at an Italian banking institution and development with .NET 6.x and Blazor WASM" 
      name="02/21 – 12/21" title="DevOps Specialist" subTitle="Milan" />

      <RowEntry description="Experiences completed during the trial period" name="08/20 – 01/21" title="IT Specialist and .NET Developer" subTitle="Various locations" />

      <RowEntry
        description="IT department manager (tutor for two apprentice girls), communication with customers (ADV and TO) and suppliers (Couriers), PDL system support, management/maintenance activities of Windows, Linux, MacOS, AS400 servers, backend development with .NET Core and SQL server"
        name="09/18 – 08/20" title="Project manager and .NET Developer" subTitle="Rho" />

      <RowEntry
        description="Worked in various companies, from small to multinationals, developing on the job technical and professional skills in the Microsoft field (systems engineering and web development), working assiduously desire to learn and grow professionally."
        name="11/07 – 09/18" title="IT Specialist and .NET Developer" subTitle="Various locations" />

      <RowEntry description="" name="11/06 – 10/07" title="Pastry Chef Apprentice" subTitle="Garbagnate Milanese" />
    </div>

    <!--<div id="programming-experience" class="mb-6">
      <SectionTitle title="Programming experience" />

      <RowEntry
        description="Developed an app for ordering food with Angular."
        name="07/2019 - 12/2019"
        title="Food ordering app"
      />
    </div>-->

    <div id="skills" class="mb-6">
      <SectionTitle title="Skills and interests" />

      <RowEntry description="Italian, English, French" name="Languages" />

      <RowEntry description=".NET, ASP.NET Core, Blazor, Astro, Microsoft Azure, Amazon AWS, Google Cloud" name="Technologies" />

      <RowEntry description="Technology, travel, photography" name="Interests" />
    </div>

    <div id="social" class="justify-center flex flex-row mb-2">
      <div class="mr-4">
        <SocialIcon icon="fa-brands:chrome" label="chrome" url="https://avacard.app/apirola" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:google" label="google" url="https://developers.google.com/profile/u/angeloit87" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:github" label="github" url="https://github.com/AngeloDotNet" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:linkedin" label="linkedin" url="https://www.linkedin.com/in/pirolaangelo/" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:instagram" label="instagram" url="https://www.instagram.com/angeloit87/" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:twitter" label="twitter" url="https://twitter.com/angeloIT87" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:youtube" label="youtube" url="https://www.youtube.com/channel/UCJ19zdw2zsjy4HfL1Tvtksw" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:spotify" label="spotify" url="https://open.spotify.com/user/31qiovxsu5zlmmjyosstxnpdupjy" />
      </div>
    </div>

    <script is:inline>
      if (localStorage.theme === "dark" || (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) 
      {
        document.documentElement.classList.add("dark");
      } 
      else 
      {
        document.documentElement.classList.remove("dark");
      }

      window.onload = function () 
      {
        const element = document.getElementById("dark-mode-toggle");

        if (element) {
          element.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark");
            localStorage.theme = document.documentElement.classList.contains("dark") ? "dark" : "light";
          });
        }
      };
    </script>
  </body>
</html>
